
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: #5D4954;
}

.logo {
  color: #D5B5BC;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #D5B5BC;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #D5B5BC;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
   }
  }

@media screen and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }

   .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5D4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

 .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px); 
}



#welcome-section {
height: 100vh;
background: #2E2E2E;
}

.all-top {
    text-align: center;
    overflow: auto;
    padding: 15em;
}

#mimic {
  color: #FFFFFF;
  font-size: 55px;
  font-family: 'Roboto Condensed', sans-serif;
}

#web {
  color: #F04A59;
  font-size: 30px;
  font-style: italic;
  font-family: 'Josefin Slab', serif;
}
#projects {
   background-color: #495D8D;
   color: #FFFFFF;
   text-align: center;
      }

.project-tile {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
    "tribute"
    "random"
    "calculator"
    "map"
    "wiki"
    "tic"
}

.item1 {
  grid-area: tribute;
}

.item2 {
  grid-area: random;
}

.item3 {
  grid-area: calculator;
}

.item4 {
  grid-area: map;
}

.item5 {
  grid-area: wiki;
}

.item6 {
  grid-area: tic;
}



#contact {
  background-color: #2E2E2E;
  color: #FFFFFF;
    overflow: auto;
      }

#work-sign {
  margin: 5;
  font-size: 45px
}

#coffee {
  margin: 0 0 5em 0;
  font-size: 17px;
}

.t-link {
 width: 100%;
 top: 0;
}

#item-links {
  list-style-type: none;
}

#profile-link {
  float: left;
  width: 20%;
  text-align: center;  
  color: #FFFFFF;
  text-decoration: none; 
  
}


 #footer {
  background-color: #2E2E2E;
  color: #FFFFFF;
   }

#copy {
  text-align: right;
  font-size: 13px;
  
}

#sentence {
 font-size: 13px;
}
