html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

body {
  margin: auto 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.topContainer {
  height: 100vh;
}

/* NAVBAR SECTION*/
nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  z-index: 1;
  position: relative;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: black;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
  transition: all 0.5s;
  text-transform: uppercase;
}

.logo {
  transition: all 0.5s;
  background: black;
  overflow: hidden;
  max-width: 0;
  font-weight: 600;
  font-size: 25px;
}

.logo a {
  color: white;
}

.fixed-nav .logo {
  max-width: 100px;
  padding: 5px;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}


/* Hero Section*/
.heroSection {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
}

.name {
  font-size: 5rem;
  font-family: 'Courgette', cursive;
}

.removeName {
  visibility: hidden;
}

.title {
  font-size: 3rem;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-family: 'Libre Baskerville',
    serif;
  font-family: 'Montserrat',
    sans-serif;
  font-family: 'Philosopher',
    sans-serif;
}

.faceFoto {
  filter: grayscale(100%);
  place-items: center;
  margin-left: auto;
  background-color: #000;
  background-image: url("FOTOS/me.JPG");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: cover;
  width: 360px;
  height: 360px;
  border-radius: 50%;
}

/* ABOUT SECTION*/
.about {
  height: 100vh;
  background-image: url('FOTOS/skyFoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  display: flex;
  padding: 200px;
  height: 100%;
}

.aboutWords {
  font-size: 1.5rem;
}







.experience {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.elements {
  flex: 1 1 30%;
}

.words {
  text-align: center;
  padding: 0px 20px 20px 20px;
  margin: 20px;

}

.words1 {
  padding: 0;
}

.project-tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-tile>.items {
  flex: 1 1 30%;
}

.reachout {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 50vh;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.contacts {
  flex: 1;
  text-align: center;
}

#image {
  flex-basis: auto;
  width: 400px;
  height: 300px;
  margin: 14px;
  transition: all 1s;
}

#image:hover {
  transform: scale(1.1);
  animation:
}

.projname {
  margin-top: 0;
}

.socmedia {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.svg--source {
  display: none
}

.svg--icon {
  width: 100%;
  max-width: 5rem;
  height: 100%;
  max-height: 3rem;
  display: block;
  margin: 0 auto;
  fill: currentColor
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.share {
  width: 2rem;
  height: 2rem;
  float: left;
  margin: .5rem 1rem .5rem 0;
  color: #353c4a;
  border: .125rem solid #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
  border-radius: 50%;
  transition: 250ms;

}

.share:last-child {
  margin-right: 0
}

.share:focus {
  outline-color: inherit;
}


.twitter:hover {
  color: #00ACED;
  box-shadow: 0 0 24px 0 #00ACED
}

.twitter:focus {
  color: #00ACED;
  box-shadow: 0 0 24px 0 #00ACED
}


.github:hover {
  color: #0B610B;
  box-shadow: 0 0 24px 0 #0B610B;
}

.github:focus {
  color: #0B610B;
  box-shadow: 0 0 24px 0 #0B610B
}


.facebook:hover {
  color: #0404B4;
  box-shadow: 0 0 24px 0 #0404B4;
}

.facebook:focus {
  color: #0404B4;
  box-shadow: 0 0 24px 0 #0404B4;
}

.footer {
  text-align: center;
  font-size: 15px;
  padding-top: 100px;
  padding-bottom: 20px;

}





/*.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #585858;
  margin: 5px;
  transition: all 1s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
   }
  }

@media screen and (max-width: 768px) {
    body{
      overflow-x: hidden;
    }*/

/*.nav-links{
    position: absolute;
    right: 0px;
    height: 52vh;
    top: 8vh;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

 .burger {
    display: block;
  }
}

  .nav-active {
  transform: translateX(0%);
}*/


/*@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
*/